/* PERSONALIZADO */

@font-face {
font-family: "Qatar22";
src: url(/fuenteQatar/qatar2022-arabic-heavy.ttf);
}

:root{
    --principal: #9a1032;
    --bordes: #f0ad4e;
}

.bg-primary{
    --bs-bg-opacity: 1;
    background-color:#9a1032 !important;
}

.ff-qatar{
    font-family: "Qatar22";
}

/* HOJA DE ESTILOS */

body{
    background: rgb(242, 225, 205);
}

header{
    background-color: rgb(242, 225, 205);
    width: 100%;
    height: auto;
    border-bottom: 10px solid;
    font-family: "Qatar22";
    border-bottom: solid var(--bordes) 5px;
}

.banner img{
    height: auto;
    width: 100%;
    border-top: solid var(--bordes) 5px;
}

/* BODY */

    /* 1ER CONTENEDOR */

.noticias{
    color: var(--principal);
    padding: 10px;
    font-family: "Qatar22";
}

.container{
    margin-bottom: 4%;
}

.card-group{
    width: 100%;
    height: auto;
    padding: 10px;
}

.card-group :hover{
    cursor: pointer;
}

.card-title{
    font-family: "Qatar22";
}

.card{
    margin: 10px;
}

.card :hover{
    text-decoration: underline;
}

.enlace{
    color: black;
    text-decoration: none;
}

.card-text :hover{
    color: black;
}

/* CUENTA ATRÁS */

.text-center{
    color: rgb(242, 225, 205);
    font-family: "Qatar22";
    font-size: 2em;
    background-color: var(--principal);
    padding-top: 14px;
    border-top: var(--bordes) solid 5px;
    border-bottom: var(--bordes) solid 5px;
}

/* 2º CONTENEDOR */

.container{
    margin-top: 4%;
}

.cuadro{
    border: var(--bordes) solid 5px;
}

.display{
    font-family: "Qatar22";
}


/* FOOTER */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.container-fluid{
    overflow: hidden; 
    margin-top: 1%;
    background: var(--principal) ;
    color: rgb(242, 225, 205)  !important;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "Qatar22";
    border-top: solid var(--bordes) 5px;
    text-decoration: none;
}

small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: var(--bordes) !important;
}


.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.list-unstyled :hover{
    cursor: pointer;
}

/* globale */
* {
    margin:0;
    padding:0;
    -webkite-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  ul.links {
      list-style-type: none;
      overflow:hidden;
      background-color: #7D1424;
  }
  
  ul.links li {float: left;}
  
  ul.links li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
     transiton:all .5s ease-in-out
  }
  
  ul.links li a:hover {
    background-color: #F64747;
  }
  
  ul.links li.icon {display: none;}
  
  .links .menu {
     position: relative;
  }
  
  .links .menu .submenu{
    position: absolute;
    top:42px;
    left:0;
    width:220px;
    background:#fff;
    padding:10px;
    -webkite-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    display:none;
  }
  
  .links .menu .submenu li {
    padding: 10px;
  }
  
  .links .menu .submenu li a {
    color: #777;
    text-decoration:none
  }
  
  .links .menu .submenu:before {
    content:'';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    height:0;
    width:0;
    position:absolute;
    top:-6px;
    left: 30px;
    
  }
  
  .links .menu:hover .submenu {
    display:block;
  }
  
  /* media Queries */
  @media screen and (max-width:680px) {
    ul.links li:not(:first-child) {display: none;}
    ul.links li.icon {
      display: inline-block;
      float: right;
    }
  }
  /* new class responsive */
  @media screen and (max-width:680px) {
    ul.links.responsive {position: relative;}
    ul.links.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.links.responsive li {
      float: none;
      display: inline;
    }
    ul.links.responsive li a {
      display: block;
      text-align: left;
    }
  }